<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST FORM</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='jscript.js') }}"></script>
</head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <form action='/users' method='post'>
    <label for="">Name:</label>  <input type='text' name='name'>
    <label for="">Email:</label>  <input type='text' name='email'>
    <input type='submit' value='create user'>
</form>


</body>
</html>