<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
</head>
<body>
    <main >
        <div style="position:absolute; top: 150px; left: 300px; " >
            <form action="/" method="get">
            <h1 name="name">Counter :</h1>
            <h4 style="font-size: 15px">{{t}} times</h4>
            <input type="submit" name="sumit">
            <h1>Welcome</h1>
            </form>
            <form action="/destroy" method="get">
                <input type="submit" value="Reset" name="reset">
                </form>
        </div>
    </main>
</body>
</html>