<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST FORM</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='jscript.js') }}"></script>
</head>
<body>
    <main>
        <h1>Index Page</h1>
        <h3>Create a User</h3>
        <form id="forms" action='/users' method='post'>
            <label for="">Name:</label>  <input type='text' name='name'>
            <label for="">location :</label>  \
                <select name="location" id="location">
                    <option value="San Joe">San Joe</option>
                    <option value="chi chang">chi chang</option>
                </select>
                <label for="">Favorite Languages :</label>  \
                <select name="languages" id="location">
                    <option value="english">english</option>
                    <option value="Arabic">Arabic</option>
                </select>
            <input type='submit' value='button' name="button">
        </form>
    </main>


</body>
</html>