<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='jscript.js') }}"></script>
<
</head>
<body>
    <main>
    <h1>submitted  Page</h1>
    <h3>Info Submitted:</h3>
    <p>Name: {{ name_on_template }}</p>
    <p>location_: {{ location_from_form  }}</p>
    <p>languages : {{ languages_on_template  }}</p>

    <form  action='/' method='post'>
    <button type="submit">Back</button>
    </form>
</main>
</body>
</html>